@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@theme {

    --breakpoint-*: initial;
    --breakpoint-xss: 375px;
    --breakpoint-xs: 767px;
    --breakpoint-md: 991px;
    --breakpoint-lg: 1280px;
    --breakpoint-xl: 1440px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1920px;

    
    --font-main: Inter, sans-serif;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --leading-*: initial;

    --tracking-*:initial;

    --text-*: initial;
    --text-h1-2xl: 4.75rem;
    --text-h1-xl: 4.5rem;
    --text-h1-xs: 3.25rem;

    --text-h2-2xl: 4rem;
    --text-h2-xl: 3.62rem;
    --text-h2-xs: 2.37rem;

    --text-h3-2xl: 2.25rem;
    --text-h3-xl: 2.12rem;
    --text-h3-xs: 1.5rem;

    --text-h4-2xl: 1.6rem;
    --text-h4-xl: 1.56rem;
    --text-h4-xs: 1.37rem;

    --text-body-2xl: 1.09rem;
    --text-body-xl: 1rem;
    --text-body-xs: 0.96rem;

    --text-button-all: 0.90rem;

    --text-header-2xl: 0.87rem;


    --color-*: initial;
    --color-white: #ffffff;
    --color-stroke: #EEEDEB;
    --color-purple: #580CE4;
    --color-orange:#F3964E;
    --color-canvas: #FDFDFD;
    --color-softgrey: #F6F6F6;
    --color-darkgrey: #9F9B9B;
    --color-darknight: #1C1C1C;

    --radius-*: initial;
    --radius-xs: 16px;
    --radius-2xs: 20px;
    --radius-sm: 32px;
    --radius-xl: 56px;
    --radius-2xl: 64px;


    --spacing-xs: 8px;
    --spacing-1xs: 12px;
    --spacing-2xs: 14px;
    --spacing-3xs: 16px;
    --spacing-sm: 20px;
    --spacing-2sm: 32px;
    --spacing-md: 56px;
    --spacing-lg: 64px;
    --spacing-xl: 88px;
    --spacing-2xl: 98px;
    --spacing-3xl: 135px;
    
}

@layer components {

.btn_primary{
    display: flex;
    align-items: center;
    gap: 10px;
    height: auto;
    width: auto;
    border-radius: 32px;
    padding-block: var(--spacing-xs);
    padding-left: var(--spacing-1xs);
    padding-right: var(--spacing-xs);
    font-size: var(--text-button-all);
    font-family: var(--font-main);
    font-weight: var(--font-weight-normal);
    color: var(--color-white);
    background-color: var(--color-purple);

    @apply transition-transform duration-345 ease-out;

    &:hover {
            @media (hover: hover) {
                scale: 90%;
            }
        }
}

.btn_icon{
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    border-radius: var(--radius-sm);
    padding: var(--spacing-1xs);
    font-size: var(--text-button-all);
    font-family: var(--font-main);
    font-weight: var(--font-weight-normal);
    color: var(--color-darkgrey);
    border-width: 2.2px;
    border-color: var(--color-darkgrey);

    @apply transition-transform duration-345 ease-out;

    &:hover {
        @media (hover: hover) {
            scale: 90%;
        }
    }
}

.nav-header{
    height: auto;
    width: 100%;
    max-width: 100%;
    z-index: 999;
    position: fixed;
}

.nav_contain{
    display: flex;
    align-items: center;
}

.nav_menu {
    margin: auto;
    display: flex;
    gap: 32px;
    font-size: var(--text-header-2xl);
    line-height: var(--spacing-3xs);
    font-family: var(--font-main);
    font-weight: var(--font-weight-medium);
    }

.nav-link {
    @apply text-darkgrey;
    @apply transition-colors duration-380 ease-out;

        &:hover {
                @media (hover: hover) {
                    @apply text-darknight;
                }
            }
}

.nav-link.active, .nav-link[aria-current="page"] {
    @apply text-darknight;
}

.multi-lang-link{
    font-family: var(--font-main);
    font-weight: var(--font-weight-medium);
    font-size: 14px;
    line-height: var(--spacing-3xs);
}

.hero_content{
    padding-top: var(--spacing-xl);

}

.container_hero{
    height: auto;
    width: 100%;
    max-width: 100%;
    padding-inline: var(--spacing-lg);
    padding-top: var(--spacing-2xl);
}

.headline_block{
    width: 830px;
    padding-right: var(--spacing-sm);
}

.bottom_content_hero{
    width: 100%;
    max-width: 100%;
    height: 524px;
}

.image_hero{
    height: 100%;
    width: 65%;
}

.body_hero_box{
    height: auto;
    width: 35%;
}

.h2_block{
    height: auto;
    width: 1421px;
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-sm);
}

.client_review_box{
    height: auto;
    width: 885px;
}

.client_avatar{
   height: 100%;
   width: 15%;
} 

.client_name{
    height: auto;
    width: 85%;
}

h1{
    font-family: var(--font-main);
    font-weight: var(--font-weight-semibold);
    @apply text-darknight text-h1-2xl leading-[96px] tracking-[-2px];
}

h2{
    font-family: var(--font-main);
    font-weight: var(--font-weight-semibold);
     @apply text-darknight text-h2-2xl leading-[88px] tracking-[-2px];
}

h4{
    font-family: var(--font-main);
    font-weight: var(--font-weight-medium);
    @apply text-darknight text-h4-2xl leading-[38.5px] tracking-[-1px];
}

p{
    font-family: var(--font-main);
    font-weight: var(--font-weight-normal);
    @apply text-darkgrey text-body-2xl leading-[26px];
}

}